@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s ease;
}

input {
    outline: none;
    border: none;
    background-color: #e9e9e9;
    padding: 1rem;
    height: 3rem;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid #e9e9e9;
}

input:focus {
    border: 3px solid #ffb41f;
}

input::placeholder {
    color: rgb(119, 119, 119);
    opacity: 1; /* Firefox */
}

@keyframes glowing-hover {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
}

.hover\:animate-glow:hover {
    animation: glowing-hover 4s infinite; /* Adjust the duration as needed */
}
@keyframes glowing-hover2 {
    0% {
        box-shadow: 0 0 5px rgba(192, 255, 90, 0.8);
    }
    50% {
        box-shadow: 0 0 25px rgba(192, 255, 90, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(192, 255, 90, 0.8);
    }
}

.h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }
}
