@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowing-hover {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
}

.hover\:animate-glow:hover {
    animation: glowing-hover 4s infinite; /* Adjust the duration as needed */
}
@keyframes glowing-hover2 {
    0% {
        box-shadow: 0 0 5px rgba(192, 255, 90, 0.8);
    }
    50% {
        box-shadow: 0 0 25px rgba(192, 255, 90, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(192, 255, 90, 0.8);
    }
}

.hover\:animate-glow2:hover {
    animation: glowing-hover2 2s infinite; /* Adjust the duration as needed */
}

.h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }
}
